/*
    Reset inicial:
    remove margens e paddings padrões do navegador
    */
    *{
        margin:0px;
        padding:0px;
        box-sizing:border-box;
    }


    /*
    Configuração da página:
    usa flex para centralizar o cartão da receita
    */
    body{

        display:flex;

        justify-content:center;

        align-items:center;

        margin:0;

        min-height:100vh;

        background-color:hsl(30,54%,90%);
    }


    /*
    Card principal da receita
    */
    main{

        background-color:white;

        width:700px;

        padding:40px;

        border-radius:20px;
    }


    /*
    Espaçamento da parte superior
    */
    header{

        padding:20px;
    }


    /*
    Imagem principal da receita
    */
    img{

        width:100%;

        border-radius:12px;
    }


    /*
    Título principal
    */
    h1{

        font-size:40px;

        font-weight:bold;

        padding:20px 20px;

        font-family:'Arial', sans-serif;
    }


    /*
    Caixa de tempo de preparo
    */
    .preparation-time{

        padding:20px;

        background-color:hsl(330,100%,98%);

        border-radius:10px;
    }


    /*
    Título dentro da caixa de preparo
    */
    .preparation-time h2{

        font-weight:bold;

        color:hsl(332,51%,36%);

        padding:10px;

        font-family:'Arial', sans-serif;
    }


    /*
    Espaçamento dos itens da lista de preparo
    */
    .preparation-time ul li{

        padding:5px;
    }


    /*
    Linha separadora entre as seções
    */
    hr{

        margin:20px;
    }


    /*
        Títulos das seções:
    Ingredientes, Instruções e Nutrição
    */
    h2{

        color:hsl(14,45%,36%);

        font-family:'Arial', sans-serif;

        padding-top:20px;

        padding-bottom:20px;
    }


    /*
        Alteração da cor das bolinhas das listas
    */
    ul li::marker{

        color:hsl(14,45%,36%);

        margin:10px;

        padding:20px;
    }


    ol li::marker{

        color:hsl(14,45%,36%);

        margin:10px;

        padding:20px;
    }


    /*
        Lista de ingredientes
    */
    .ingredients ul li{

        padding:8px;

        margin-left:20px;
    }


    /*
        Lista das instruções
    */
    .instructions ol li{

        padding:5px;

        margin:5px;
    }


    /*
        Texto da parte nutricional
    */
    .nutrition p{

        padding:10px;

        margin:5px;
    }


    /*
            Tabela de informações nutricionais
    */
    table{

        width:100%;

        border-collapse:collapse;
    }


    /*
        Células da tabela:
        cria as linhas horizontais entre os valores
    */
    td{

        padding:15px;

        border-bottom:1px solid #ddd;
    }
    td:last-child{
        color:hsl(14,45%,36%);

        font-weight:bold;
    }